@use '../abstracts/colors' as *;
@use '../abstracts/mediaQuery' as *;

body {
  &.no-scroll {
    overflow: hidden;
    height: 100vh;
    width: 100%;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
}

